<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>First floor Stage</th>
      <th>First floor Booth</th>
      <th>Ground floor Stage</th>
      <th>Ground floor Stage</th>
      <th>Ground floor Booth</th>
      <th>Ground floor Bar</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

    <% @time_slots.each do |time_slot_hash| %>
      <tr>
        <td class="display-time"><%= time_slot_hash.time.strftime("%I:%M %p") %></td>
        <% 6.times do |i| %>
          <% if time_slot_hash.dancers[i] != nil %>
            <td><%= time_slot_hash.dancers[i].fake_name.capitalize %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


